body {
    @media (min-width: 600px) {
        margin-left: 25%;
        margin-right: 25%;
    }

    @media (max-width: 600px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.highlight {
    padding: .5em;
    overflow-y: auto;
}

body > p > code, body > h2 > code {
    padding-left: .25em;
    padding-right: .25em;
}

footer {
    padding: 1em;
    margin-top: auto;
}

.post-details {
    font-style: italic;
}

a {
    text-decoration: none;
}

/* default dark color scheme, taken from nightfox theme */
body {
    background-color: #192330;
    color: #cdcecf;
    p > code, h2 > code {
        background-color: #2b3b51;
    }
}
a {
    color: #86abdc;
}
a:visited {
    color: #9d79d6;
}


/* opt-in light color scheme, taken from dayfox theme */
@media (prefers-color-scheme: light) {
    body {
        background-color: #f6f2ee;
        color: #3d2b5a;
        p > code, h2 > code {
            background-color: #e7d2be;
        }
    }
    a {
        color: #287980;
    }
    a:visited {
        color: #6e33ce;
    }
}
