body {
    margin-left: 25%;
    margin-right: 25%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.highlight {
    padding: .5em;
    overflow-y: auto;
}

body > p > code, body > h2 > code {
    background-color: lightgray;
    padding-left: .25em;
    padding-right: .25em;
}

footer {
    padding: 1em;
    margin-top: auto;
}

.post-details {
    font-style: italic;
}
