body {
    @media (min-width: 600px) {
        font-size: large;
        margin-left: 25%;
        margin-right: 25%;
    }

    @media (max-width: 600px) {
        font-size: medium;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.highlight {
    padding: .5em;
    overflow-y: auto;
}

body > p > code, body > h2 > code {
    padding-left: .25em;
    padding-right: .25em;
}

footer {
    padding: 1em;
    margin-top: auto;
}

.post-details {
    font-style: italic;
}

a {
    text-decoration: none;
}

body {
    /* default/dark color scheme, taken from nightfox theme */
    --bg: #192330;
    --fg: #cdcecf;
    --snippet: #2b3b51;
    --keyword: #86abdc;
    --fn: #9d79d6;

    /* opt-in light color scheme, taken from dayfox theme */
    @media (prefers-color-scheme: light) {
        --bg: #f6f2ee;
        --fg: #3d2b5a;
        --snippet: #e7d2be;
        --keyword: #287980;
        --fn: #6e33ce;
    }


    background-color: var(--bg);
    color: var(--fg);
    p > code, h2 > code {
        background-color: var(--snippet);
    }
}
a {
    color: var(--keyword);
}
a:visited {
    color: var(--fn);
}
