<h2>About</h2>

<p>This is a blog for me to share some ideas and things I've learned.
  <ul>
    <li>
      <a href="https://youtube.com/@matt-savvy">youtube</a>
    </li>
    <li>
      <a href="https://github.com/matt-savvy">github</a>
    </li>
  </ul>
</p>
