<h2>Posts</h2>
  <p :for={post <- @posts}>
    <em class="date"><%= DateTime.to_date(post.datetime) %></em>
    <a href={post.path}><%= post.title %></a>
    <span class="tag" :for={tag <- post.tags}><%= tag %></span>
    <p><%= post.description %></p>
  </p>
